html {
  scroll-behavior: smooth;
}

.backy{
  background: url('/img/codes1.jpg') center/cover;
  /* margin-bottom: -4rem !important; */
}

.jumbotron {
  background-size: cover;
  background-position: center center;
}



.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}

.box {
    /* From: https://stackoverflow.com/questions/60174146/how-to-implement-curve-background-in-css */
    height:250px;
    /* background: url(https://images.unsplash.com/photo-1581362508717-f542c1ecf295?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80) center/cover; */
    -webkit-mask:
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
      radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top right;
    mask:
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
      radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
      radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top right;
     /* adjust the 150% to control the covered area, the bigger the value the bigger the area will be*/
    -webkit-mask-size:33.4% 160%;
    -webkit-mask-repeat:no-repeat;
    mask-size:33.4% 160%;
    mask-repeat:no-repeat;
    margin-bottom: -5rem !important;

  }

  .box-wrap {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 50, 0.5));
  }
  